@tailwind base;
@tailwind components;
@tailwind utilities;

/* 源流注音明體 */
@font-face {
  font-family: BpmfGenRyuMin-R;
  src: url(./fonts/BpmfGenRyuMin-R.ttf);
}

/* 源石注音黑體 */
@font-face {
  font-family: BpmfGenSekiGothic-R;
  src: url(./fonts/BpmfGenSekiGothic-R.ttf);
}

/* 源泉注音圓體 */
@font-face {
  font-family: BpmfGenSenRounded-R;
  src: url(./fonts/BpmfGenSenRounded-R.ttf);
}

/* 源樣注音明體 */
@font-face {
  font-family: BpmfGenYoMin;
  src: url(./fonts/BpmfGenYoMin-R.ttf);
}

/* 源樣注音黑體 */
@font-face {
  font-family: BpmfGenYoGothic-R;
  src: url(./fonts/BpmfGenYoGothic-R.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
