@tailwind base;
@tailwind components;
@tailwind utilities;

/* 源石注音黑體 */
@font-face {
  font-family: BpmfGenSekiGothic-R;
  src: url(./fonts/BpmfGenSekiGothic-R.ttf);
}

.theme-light {
  --color-bg-primary: #f8f0df;
  --color-primary: #a64b2a;
  --color-secondary: #766161;
  --color-bg-secondary: #f0ebe3;
}

.theme-dark {
  --color-bg-primary: #a64b2a;
  --color-primary: #f8f0df;
  --color-secondary: #f0ebe3;
  --color-bg-secondary: #766161;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
